body {
    font: 20px Arial, sans-serif
}


.navbar  {
    background-color: blueviolet;
}

.quem-somos {
    background-color: gray;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: orange;
}

.bg-footer {
    background-color: aqua;
}
